

.body-page{
    text-align: center;

  }
.image{

    height: 23rem;
    background-image: url(../../images/Contact-us.jpg);
    background-size: cover;
    background-position-y: 30%;

}
  .body-page h1{
    font-size:400%
  }
  .body-page iframe{
   width: 100%;

   height: 60%;

  }
  


 .contactez-nous{
  width: 100%;
  height: 50rem;
  position: relative;
  background-image: linear-gradient(to right bottom, #45ade1, #007fc0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
 }
 .contactez-nous h2 {
  font-size: 40px;
  }
  .contactez-nous label {
    display: flex;
    align-items: flex-start;
   
  }
  textarea {
    font-family: 'Roboto Slab', serif;
    margin-left: 15px;
    outline: none;

    font-family: none;
    padding: 5px;
    font-size: medium;
}
input {

  outline: none;
  font-family: 'Roboto Slab', serif;

  width: 90%;
  font-family: none;
  font-size: medium;
  padding: 5px;
}
button {
  font-family: inherit;
  font-size: 20px;
  background: rgb(0, 127, 192);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  position: absolute;
  left: 44%;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.3em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}



.image-container {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}


.image-container img {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
 
}

.overlay h2 {
  font-size: 150%;
  font-weight: bold;
  
}

.overlay p {
  font-size: 18px;
  margin-bottom: 0;
}
.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: 0 auto;
}

.member {
  width: calc(20% - 20px);
  margin-bottom: 40px;
  text-align: center;
}

.member img {
  display: block;
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
  
}
.member img {
  box-shadow: 0 4px 8px 0 rgba(0, 60, 255, 0.324);
    transition: 0.3s;
}
.member h3 , h5{
   line-height: 0.2;
   font-size: 30%;
}

.member h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 150%;
  line-height: 1.5;
  letter-spacing: 1px;
}
.member h5{
   font-size: 90%;
   letter-spacing: 2px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  gap: 35px;
  margin: 5%;
  align-items: center;

}

.item {
  background-color: #eaeaea;
  text-align: center;
}
.item-1{
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 2;
  
}
.grid-wrapper{
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
   align-items: center;
}
.item-3 {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 97, 253, 0.32);
  margin: 25px;
}
.item-4 {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  box-shadow: 0 4px 8px 0 rgba(0, 97, 253, 0.32);
  margin: 25px;
}
.item-5 {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  box-shadow: 0 4px 8px 0 rgba(0, 97, 253, 0.32);
  margin: 25px;
}